.carousel-caption
{
    background: rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(5px);
    width: 100%;
    margin-left: -15%;
}
.input-group
{
    width: 50%;
}
.form-control
{
    border-radius: 1rem;
}

.btn:focus
{
    display: none;
}

.modalAlertError
{
    display: block;
}